.page-ex-1 {
  .notification-enter {
    visibility: hidden;
    transform: translate3d(100%, 0, 0) scale(0, 0);
  }

  .notification-enter.notification-enter-active {
    visibility: visible;
    transform: translate3d(0, 0, 0) scale(1, 1);
    transition: all 0.8s;
  }

  .notification-leave {
    visibility: visible;
    transform: translate3d(0, 0, 0) scale(1, 1);
  }

  .notification-leave.notification-leave-active {
    visibility: hidden;
    transform: translate3d(100%, 0, 0) scale(0, 0);
    transition: all 0.5s;
  }
}
