/* ==========================================================================
   Imports
   ========================================================================== */
@import "variables";
@import "mixins";
@import "animations";

/* ==========================================================================
   Components
   ========================================================================== */
/* Pre Render
   ========================================================================== */
.pre-render {
  background: rgba(255, 255, 255, .7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  .spinner {
    width: 48px;
    height: 48px;
    border: 1px solid lighten($primary, 40%);
    border-left-color: darken($primary, 10%);
    border-radius: 50%;
    animation: spinner 700ms infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
  }
}

/* ==========================================================================
   Sections
   ========================================================================== */
/* Header
   ========================================================================== */
.navbar {
  border-radius: 0;
}

/* Footer
   ========================================================================== */
html,
body,
#app {
  height: 100%;
}

.layout-page {
  position: relative;
  min-height: 100%;
  padding-bottom: 60px;
}

.layout-main {
  margin-bottom: 30px;
}

.layout-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #F8F8F8;
  padding: 20px 0;
}
